<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneyhub.web.exr.ExRateMapper">
	
	<insert id="insertExRate" parameterType="ExRate" >
        insert into EXRATE (BSDATE, MBUY, MSELL, REMSEND, REMRECEIVE, TCBUY, FCBSELL, BSRATE, BEFCON, EXCOMMISSION, DOLLARRATE) 
        values (
             #{bsDate}, #{mBuy}, #{mSell}, #{remSend}, #{remReceive}, #{tcBuy}, #{fcbSell}, #{bsRate}, #{befCon}, #{exCommission}, #{dollarRate} 
        )
    </insert>

</mapper>